.gm-iv-address{
    display: none !important;
}

button .gm-control-active{
    display: none !important;
}

.map-container{
    background: white;
    padding: 5px 5px 10px 5px;
    border-radius: 5px;
}

#map {
    height: 200px;
    width: 500px;
    margin-bottom: 10px;
}

.map-btn-container{
    display: flex;
    justify-content: center;
}

.gm-fullscreen-control {
    display: none !important;
  }