@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu:wght@300&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.logo-container{
    display: flex;
    justify-content: center;
}

.logo-img{
    height: 200px;
    width: auto;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  /* background-color: #fff; */
}

.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 17rem;
  min-height: 100%;
  background-color: #000;
}

.side-bar .logo-top {
  padding: 1em;
  background-color: #171619;
}

.side-bar ul {
  padding: 1em;
  margin: 0;
  list-style-type: none;
}

.side-bar ul li {
  margin: 0.5rem 0;
  padding: 0.5em;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  cursor: pointer;
}

.side-bar ul li a {
  text-decoration: none;
  color: white;
}

.side-bar ul li:hover {
  background-color: #864879;
}

.active-btn{
  background-color: #864879;
}

.logo-top {
  text-align: center;
}

.logo-top a {
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  min-height: 100vh;
  margin-left: 17rem;
  padding: 2rem;
  width: 100%;
  background: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main-content .home { 
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.main-content .create{
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.main-content .join {
  /* display: flex; */
  display: none;  
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

.card-container{
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.popup-container{
  height: 70%;
  width: 60%;
  position: fixed;
  z-index:99999;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  margin: auto;
  /* margin-top: 70px; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-content{
  display: flex;
  margin: auto;
}

.card-heading-container{
  display: flex; 
  justify-content: center; 
}

.card-heading{
  color: black; 
  font-family: 'Fredoka One', cursive;
}

.input-container{
  /* display: flex;  */
  /* justify-content: center; */
  padding: 10px;
}

.create-btn-container{
  display: flex; 
  justify-content: space-around;
  transition: 0.2s;
}

.btn{
  transition: 0.2s !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 30px !important;
  padding-left: 30px !important;
  font-family: 'Fredoka One', cursive !important;
}

.btn:hover{
  transition: 0.2s;
  transform: scale(1.05);
}

.btn:active{
  transition: 0.2s;
  transform: scale(0.9);
}

.input-box{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Fredoka One', cursive;
  color: #696969;
  transition: 0.4s;
  outline: none !important;
  border: none !important;
  /* border-color: white !important; */
  /* border-color: rgb(46, 46, 46) !important; */
}

.input-box:focus{
  transform: scale(1.01);
  transition: 0.4s;
}

.input-box2{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Fredoka One', cursive;
  color: #696969;
  transition: 0.4s;
  outline: none !important;
  border: none !important;
  background-color: #f3f3f3 !important;
  /* border-color: rgb(46, 46, 46) !important; */
}

.input-box2:focus{
  transform: scale(1.01);
  transition: 0.4s;
}

.btn-success{
  background-color: rgb(55, 224, 55) !important;
  border-color: rgb(55, 224, 55) !important;
}

@media (max-width: 768px) {
    .logo-img{
        height: 100px;
        width: auto;
    }
    .main-content {
        margin-left: 7.5rem;
    }
    .side-bar {
        width: 7.5rem;
    }
    .side-bar ul li {
        text-align: center;
        font-size: 1.2rem;
    }
    .side-bar ul span {
        display: none;
    }
}

@media (max-width: 992px) {
  .main-content {
    padding: 1rem !important;
  }
}

.card{
  border-radius: 10px !important;
  transition: 0.2s;
}

.card img{
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
}

.card p, .card a{
  text-align: center;
}

.mode-img{
  height: auto;
  width: auto;
}

.mode-heading{
  color: black;
  font-family: 'Fredoka One', cursive;
}

.mode-btn-container{
  display: flex;
  justify-content: center;
}

.mode-btn{
  width: 50% !important;
  background-color: #864879 !important;
  border-color: #864879 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

@media screen and (max-width: 1187px){
  .mode-btn{
    font-size: 13px !important;
  }
}
@media screen and (max-width: 1119px){
  .mode-btn{
    font-size: 10px !important;
  }
}
@media screen and (max-width: 1059px){
  .mode-btn{
    font-size: 8px !important;
  }
}

.mode-card-active{
  border-color: rgb(86, 209, 86) !important;
  border-width: 5px !important;
}

.waitingScreen{
  /* display: flex; */
  display : none;
}

.waiting-list-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* align-content: flex-start; */
  /* margin-left: 160px !important; */
}

.waiting-list-container span{
  font-family: 'Fredoka One', cursive;
  font-family: 'Ubuntu', sans-serif;
}

.card-para-container{
  /* display: flex; */
  justify-content: center;
  padding: 70px;
}

.card-para-container p{
  font-family: 'Fredoka One', cursive;
  font-family: 'Ubuntu', sans-serif;
  color: black;
}

.gameScreen{
  display: none;
}

#startScreen{
  /* display: none; */
}

.gameOuterLayer{
  z-index: 9999;
  position: absolute;
  display: flex;
}

.subOuterLayer{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 500px;
  position: absolute;
  z-index: 99999;
  margin-left: 100%;
}

.score-card{
  background:#000;
  padding: 15px;
}

#playersScore{
  /* position:re  lative; */
} 
#playersScore table{
    /* top: 0;
    right: 0; */
}

.score-card table tr th, #playersScore table tr td{
  color: white; 
}

tbody, td, tfoot, th, thead, tr  {
  padding: 5px !important;
}

.dis-container{
  display: flex;
  justify-content: center;
}

.nextBtnContainer{
  display: flex;  
  justify-content: flex-end;
  align-items: flex-end;
}

#errorMessage{
  display: none;
}

.randt{
  background:#000;
  padding: 15px;
}

.round{
  font-family: 'Fredoka One', cursive !important;
}

.time{
  font-family: 'Fredoka One', cursive !important;
}

.winner{
  /* display: flex; */
  display: none;
  background: white !important;
  border-radius: 10px;
}